@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Scheduler.nu</h1>
    <p>Hour slip registration app for project management. 
        <br> Group project for third semester on AP Computer Science UCN</p>
    
</div>
